{{ partial "header.html" . }}

	<main>
	<!-- Fixed entries -->
	<h1 class="entry-title">
	{{ range where .Data.Pages "Params.fixed" "top"}}
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	{{ end }}
	</h1>

	<hr style="margin-bottom: 2em;"/>

	<!-- Posts -->
{{ range where .Data.Pages "Params.fixed" "!=" "top"}}
		<article>
			<h2 class="entry-title">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			</h2>
			<span class="entry-meta">
				<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
			</span>
		</article>
{{ end }}

	</main>

{{ partial "license.html" . }}
<hr/>
{{ partial "footer.html" . }}