@media screen {
	html {
		font-size: 21px;
	}

	body {
		background-color: #FAFAFA;
		color: #303030;
	}
}

@media print {
	html {
		font-size: 11pt;
	}

	body {
		background-color: white;
		color: black;
	}
}

@font-face{
	font-family: 'Source Serif Pro';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	src: url('../fonts/SourceSerifPro-Semibold.otf.woff') format('woff');
}

@font-face{
	font-family: 'Source Serif Pro';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	src: url('../fonts/SourceSerifPro-Regular.otf.woff') format('woff');
}

@font-face{
	font-family: 'Source Serif Pro';
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	src: url('../fonts/SourceSerifPro-It.otf.woff') format('woff');
}


@page {
	margin: 1cm;
}

body {
	font-family: Georgia, Charter, serif;
	line-height: 1.6;
}

h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; }
h4,
h5,
h6 { font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	font-family: "Source Serif Pro", Georgia, Charter, serif;
}

a {
	color: #1EAEDB;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}

header,
footer {
	margin: 2rem 0;
	text-align: center;
}

blockquote, em {
	font-style: italic;
	font-family: Georgia, Charter, serif;
}

main {
	margin: 2rem 0;
}

.container {
	width: 90%;
	max-width: 35em;
	margin: 0 auto;
}

.header-logo img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 4px solid #E1E1E1;
}

.header-logo img:hover {
	border-color: #F1F1F1;
}

.site-title {
	margin-top: 2rem;
}

.entry-title {
	margin-bottom: 0;
}

.entry-title a {
	text-decoration: none;
}

.entry-meta {
	display: inline-block;
	margin-bottom: 2rem;
	font-size: 1em;
	font-variant: small-caps;
	font-family: "Source Serif Pro", Georgia, Charter, serif;
/*	font-variant-caps: all-small-caps;	/* seems to be difficult for Safari */
	color: #666;
}

.footer-link {
	margin: 2rem 0;
}

.hr {
	height: 1px;
	margin: 2rem 0;
	background: #E1E1E1;
}
